# macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini

# Windows
*.lnk
*.tmp
*.bak
*~

# Backup files
*.old
*~.nib
*.swp
*.swo

# Log files
*.log

# IDE
.vscode/
.idea/
*.sublime-*

# Temporary files
__IPaddress.txt
__IPaddress - Copy.txt
